.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar {
  background-color:#333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px;
}

.navbar h1 {
  font-family: 'Teko', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  border-radius: 50%;
}

#home {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid lightgrey;
}

#home a {
  background-color: white;
  color: black;
  border: 2px solid rgb(128, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#home a:hover {
  background-color: rgb(128, 0, 0);
  color: white;
}

#edu {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid lightgrey;
}

#hobbies {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid lightgrey;
}

#future {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid lightgrey;
}

#contact {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid lightgrey;
}
